

.display-grid-container {
    position:absolute;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height:200px;
    width:200px;
    top:20%;
    left:50%;
    transform: translate(-50%,-20%);


}
