

.drawing-grid-container {
    position:absolute;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height:400px;
    width:400px;
    top:70%;
    left:50%;
    transform: translate(-50%,-70%);


}
