

@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.menu-container {


}
#coming-soon-banner {
    position:absolute;
}
.title-container {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2,auto);
    gap:7px;

    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -10%);

    
}

#match-title {
    font-size:130px;
    color: rgb(168, 251, 143);
}

#match-title {
    animation: scaleAnimation 3s infinite ease-in-out;
}

#box-title-container {

}


#box-title {
    color:#CEB7E4 ;
}

.buttons-container {
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -60%);
    display:grid;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#tutorial-button-container {
    
}



#play-button{
    filter: brightness(0) saturate(100%) invert(93%) sepia(46%) saturate(2771%) hue-rotate(183deg) brightness(125%) contrast(106%);
    font-size:100px;
    display:grid;
    align-items: center;
    justify-content: center;
    
    
}

#play-button:hover {
    animation: scaleAnimation 1s infinite ease-in-out;
    
}


#tutorial-button {
    filter: brightness(0) saturate(100%) invert(97%) sepia(4%) saturate(530%) hue-rotate(200deg) brightness(84%) contrast(92%);
    font-size:100px;
    display:grid;
    align-items: center;
    justify-content: center;
}

#tutorial-button:hover {
    animation: scaleAnimation 1s infinite ease-in-out;
}
#gamemodes-button {
    font-size:100px;
    color: rgb(255, 125, 125);
    display: grid;
    
}

#gamemodes-button:hover{
    animation: scaleAnimation 1s infinite ease-in-out;
}
@media (max-width: 775px){

    @keyframes scaleAnimationMobile {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }

    .menu-container {

    }
    .title-container {
        display:grid;
        gap:3px;
        position:absolute;
        left:50%;
        top:30%;
    
        
    }
    
    #match-title-container {


    }
    
    #match-title {
        /* width:100%; */
        font-size:40px;
        animation: scaleAnimationMobile 3s infinite ease-in-out;

        
    }
    
    #box-title-container {

    }
    
    
    #box-title {
        /* width:60%; */
        width:35vw;
        height:100%;

        color:#CEB7E4 ;
    }
    
    .buttons-container {
        display:grid;
        position:absolute;
        justify-content: center;
        top:50%;
        left:30%;
        grid-template-rows: repeat(2,auto);
        width:100vw;

        transform: translate(-30%, -60%);

        gap:3px;
    }
    
    #tutorial-button-container {
        grid-row-start: 2;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #play-button {
        font-size: 40px;

    }
    
    #play-button-container {
        grid-row-start:1;
        width:100%;
    }
    
    #play-button:hover {
        scale:1.05;
    
    }
    
    #tutorial-button-container {
        grid-row-start: 2;
    }

    #tutorial-button {
        font-size: 40px;
    }
    
    #tutorial-button-container:hover {
        scale:1.05;
    }

    #gamemodes-button {
        font-size: 40px;
    }


}