
.menu-container {


}
.title-container {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2,auto);
    gap:7px;

    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -10%);

    
}

#match-title-container {
}

#match-title {
}

#box-title-container {

}


#box-title {
    color:#CEB7E4 ;
}

.buttons-container {
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -60%);
    display:grid;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#tutorial-button-container {
    
}

#play-button-container {
    display:grid;
    align-items: center;
    justify-content: center;
}

#play-button{
    filter: brightness(0) saturate(100%) invert(93%) sepia(46%) saturate(2771%) hue-rotate(183deg) brightness(125%) contrast(106%);
}

#play-button:hover {
    scale:1.05;

}

#tutorial-button-container {
    display:grid;
    align-items: center;
    justify-content: center;
}

#tutorial-button {
    filter: brightness(0) saturate(100%) invert(97%) sepia(4%) saturate(530%) hue-rotate(200deg) brightness(84%) contrast(92%);
    
}

#tutorial-button-container:hover {
    scale:1.05;
}

@media (max-width: 775px){

    .menu-container {
        width:100vw;
        height:100vh;

    }
    .title-container {
        display:grid;
        gap:3px;
        position:absolute;
        left:50%;
    
        
    }
    
    #match-title-container {


    }
    
    #match-title {
        /* width:100%; */
        width: 55vw;
        height:100%;
    }
    
    #box-title-container {

    }
    
    
    #box-title {
        /* width:60%; */
        width:35vw;
        height:100%;

        color:#CEB7E4 ;
    }
    
    .buttons-container {
        display:grid;
        position:absolute;
        justify-content: center;
        top:40%;
        left:30%;
        grid-template-rows: repeat(2,auto);
        width:100vw;

        transform: translate(-30%, -25%);

        gap:3px;
    }
    
    #tutorial-button-container {
        grid-row-start: 2;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #play-button {
        position: relative;
        left:15%;
        width:70%;
        height:70%;
        filter: brightness(0) saturate(100%) invert(93%) sepia(46%) saturate(2771%) hue-rotate(183deg) brightness(125%) contrast(106%);

    }
    
    #play-button-container {
        grid-row-start:1;
        width:100%;
    }
    
    #play-button:hover {
        scale:1.05;
    
    }
    
    #tutorial-button-container {
        grid-row-start: 2;
    }

    #tutorial-button {
        position:relative;
        
        width:100%;
        height:100%;
        filter: brightness(0) saturate(100%) invert(97%) sepia(4%) saturate(530%) hue-rotate(200deg) brightness(84%) contrast(92%);
    }
    
    #tutorial-button-container:hover {
        scale:1.05;
    }


}